[Unit]
Description=Collect and send power readings.
# Don't start the service until the network is up and running
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/pi/projects/PlugE/env_variables
ExecStart=/usr/bin/python3 /home/pi/projects/PlugE/collect_readings_task.py
Restart=on-failure
User=pi

[Install]
# Components of this application should be started at boot time
WantedBy=multi-user.target